.image-slider {
    position: relative;
    overflow: hidden;
    padding: 0 0 0 0;
    user-select: none;
}
.image-slider__wrapper {
}
.image-slider__slide{
    
}
.image-slider__image{
}
.image-slider__image img{
    max-width: 100%;
}

/* Стрелки */
.image-slider .swiper-button-prev,
.image-slider .swiper-button-next {
    top: 50%;
    border-radius: 100%;
    width: 35px;
    height: 35px;
}
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: #fff;
    font-size: 25px;
}
.image-slider .swiper-button-prev:hover,
.image-slider .swiper-button-next:hover {
    transition: 0.6s ease;
    background-color: rgba(0,0,0,0.5);
}

/* Пагинация */
.image-slider .swiper-pagination {
    position: absolute;
    text-align: center;
}
/* Буллеты */
.image-slider .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    border: 1.5px solid;
    border-color: #3E3BD6;
    background-color: #7398F7;
}