.frame_address {

}
.frame_address-frame {
    display: block;
    text-align: center;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 4px;
    background-color: #7398F7;
}
.frame_address-frame > p {
    font-size: 16px;
    font-family: Montserrat, Arial;
    font-weight: 650;
    color: white;
}
.frame_address-address {
    display: block;
    text-align: center;
    padding-top: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    background-color: #7398F7;
}
.frame_address-address > p {
    font-size: 16px;
    font-family: Montserrat, Arial;
    font-weight: 525;
    color: white;
}