/*Правая часть_Карта*/
.right {
    width: 100%; /*Растягивает карту на всю правую ширину*/
    user-select: none;
}

.map {
    padding: 0 0 0 10px;
    justify-self: center;
    align-self: center;
    transition: transform 0.3s ease-in-out;
}

.map.open {
    transform: translateX(-209.5px); /*Перемещает карту в левую сторону, чтобы скомпенсировать центральное расположение*/
}
  
.map {
    position: relative;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: auto;
}
  
.map__frame_HomeStart {
    margin: auto;
    overflow: hidden;
    max-width: 100vh;
    display: none;

}
.map__frame_HomeStart-frame5:hover{
    transition: opacity .25s ease;
    opacity: .75;
    cursor: pointer;
}

.map__frame_HomeStart-frame3:hover {
    transition: opacity .25s ease;
    opacity: .75;
    cursor: pointer;
}

.map__frame_HomeStart-frame2:hover {
    transition: opacity .25s ease;
    opacity: .75;
    cursor: pointer;
}

.map__frame_HomeStart-frame1:hover {
    transition: opacity .25s ease;
    opacity: .75;
    cursor: pointer;
}

.map__frame_HomeStart-dormitory3:hover {
    transition: opacity .25s ease;
    opacity: .75;
    cursor: pointer;
}

.map__frame_HomeStart-dormitory2:hover {
    transition: opacity .25s ease;
    opacity: .75;
    cursor: pointer;
}

.map__frame_HomeStart-dormitory1:hover {
    transition: opacity .25s ease;
    opacity: .75;
    cursor: pointer;
}

.map__frame_HomeStart-gym:hover {
    transition: opacity .25s ease;
    opacity: .75;
    cursor: pointer;
}




/* Оснвная настройка картинок */
.map__frame_51 {
    margin: auto;
    overflow: hidden;
    max-width: 60vh;
    display: none;
}
.map__frame_52 {
    margin: auto;
    overflow: hidden;
    max-width: 60vh;
    display: none;
}
.map__frame_53 {
    margin: auto;
    overflow: hidden;
    max-width: 60vh;
    display: none;
}
.map__frame_54 {
    margin: auto;
    overflow: hidden;
    max-width: 60vh;
    display: none;
}



.map__frame_31 {
    margin: auto;
    overflow: hidden;
    max-width: 60vh;
    display: none;
}
.map__frame_32 {
    margin: auto;
    overflow: hidden;
    max-width: 60vh;
    display: none;
}
.map__frame_33 {
    margin: auto;
    overflow: hidden;
    max-width: 60vh;
    display: none;
}
.map__frame_34 {
    margin: auto;
    overflow: hidden;
    max-width: 60vh;
    display: none;
}
.map__frame_35 {
    margin: auto;
    overflow: hidden;
    max-width: 60vh;
    display: none;
}
.map__frame_36 {
    margin: auto;
    overflow: hidden;
    max-width: 60vh;
    display: none;
}



.map__frame_21 {
    margin: auto;
    overflow: hidden;
    max-width: 100vh;
    display: none;
}
.map__frame_22 {
    margin: auto;
    overflow: hidden;
    max-width: 100vh;
    display: none;
}
.map__frame_23 {
    margin: auto;
    overflow: hidden;
    max-width: 100vh;
    display: none;
}
.map__frame_24 {
    margin: auto;
    overflow: hidden;
    max-width: 100vh;
    display: none;
}



.map__frame_11 {
    margin: auto;
    overflow: hidden;
    max-width: 100vh;
    display: none;
}
.map__frame_12 {
    margin: auto;
    overflow: hidden;
    max-width: 100vh;
    display: none;
}
.map__frame_13 {
    margin: auto;
    overflow: hidden;
    max-width: 100vh;
    display: none;
}
.map__frame_14 {
    margin: auto;
    overflow: hidden;
    max-width: 100vh;
    display: none;
}
.map__frame_15 {
    margin: auto;
    overflow: hidden;
    max-width: 100vh;
    display: none;
}

